<p class="credit">Form design by <a target="_blank" href="http://dribbble.com/shots/843289-Search-Bar?list=tags&tag=ui">Liang Shi</a> and <a target="_blank" href="https://codepen.io/cameronbaney/pen/EazjJ">Cameron Baney</a>. Icons from <a href="http://icons8.com">Icons8</a>.</p>
