<meta charset="utf-8">
<link rel='stylesheet' href='/assets/styles.css' />
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<% if (!user) { %>
  <a class="logo" href="../">TinyApp</a>
  <ul class="topnav">
    <li class="toplinks"><a href="../login">Login</a></li>
    <li class="toplinks"><a href="../register">Sign Up</a></li>
  </ul>
  <% } else { %>
    <a class="logo" href="../">TinyApp</a>
    <ul class="topnav">
      <li class="toplinks">
        <%= user.email %>
      </li>
      <li class="toplinks">|</li>
      <li class="toplinks"><a href="../urls/new">Create</a></li>
      <li class="toplinks"><a href="../urls">Manage</a></li>
      <li class="toplinks">
        <form id="logoutform" action="/logout" method="post">
          <button type="submit" value="Submit">Logout</button>
        </form>
      </li>
    </ul>
    <% } %>
