<meta charset="utf-8">
<link rel='stylesheet' href='/assets/styles.css' />
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

 <form class="searchform cf" id="loginform" action="/login" method="post">
   <input type="text" name="logintext" placeholder="Enter a login name" value="">
   <button type="submit" value="Submit">Submit</button>
 </form>
