<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../views/partials/_header %>
</head>
  <body>
    <ul>
        <li><%= shortURL %> - <%= urls[shortURL] %></li>
    </ul>

    <a href="/urls">Back to list of all URLs</a>
  </body>
</html>
