<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>New URL | TinyApp URL Shortener</title>
  <% include ../views/partials/_header %>
</head>

<body>

  <h1 class="title">TinyApp</h1>
  <form class="searchform cf" action="/urls" method="POST">
    <input id="longURL" type="text" name="longURL" placeholder="Enter a long URL to make tiny">
    <button type="submit" value="Submit">Make It Tiny!</button>
  </form>

<% include ../views/partials/_footer %>
</body>
</html>
