<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>TinyApp URL Shortener</title>
    <% include ../views/partials/_header %>
  </head>
  <body>

  <h1 class="title">TinyApp</h1>
  <form class="searchform cf" action="/urls" method="POST">
    <input id="longURL" type="text" name="longURL" placeholder="Enter a long URL to make tiny">
    <button type="submit" value="Submit">Make It Tiny!</button>
  </form>

    <ul class="homenav">
      <li class="homelinks"><a href="../urls">Manage Links</a></li>
      <li class="homelinks"><a href="../register">Register</a></li>
    </ul>

    <p class="credit">Form designed by <a target="_blank" href="http://dribbble.com/shots/843289-Search-Bar?list=tags&tag=ui">Liang Shi</a>, with CSS styles by <a target="_blank" href="https://codepen.io/cameronbaney/pen/EazjJ">Cameron Baney</a></p>
  </body>
</html>
